* text=auto eol=lf

*.sh text eol=lf
*.sbatch text eol=lf
*.py text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.cu text eol=lf
*.cuh text eol=lf
*.m text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.svg text eol=lf
Makefile text eol=lf